<% layout('layouts/boilerplate') %>

<h1>All campgrounds</h1>
<a href="/campgrounds/new">Add a campground</a>
<% if (campgrounds) { %>
<ul>
  <% campgrounds.forEach(campground => { %>
  <li>
    <%= campground.name %> <%= campground.location %>
    <a href="campgrounds/<%= campground._id %>">Details</a>
  </li>
  <% }) %>
</ul>
<% } %>
