<% layout('layouts/boilerplate') %>

<div class="row">
  <h1 class="text-center">Add a Campground</h1>
  <div class="col-6 offset-3">
    <form
      action="/campgrounds"
      method="POST"
      novalidate
      class="needs-validation"
    >
      <div class="mt-3">
        <label for="name" class="form-label">Campground Name:</label>
        <input
          class="form-control"
          id="name"
          type="text"
          placeholder="Red Rock Retreat"
          name="campground[name]"
          value=""
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mt-3">
        <label for="price" class="form-label">Price/night:</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">&#36;</span>
          <input
            id="price"
            type="text"
            class="form-control"
            placeholder="150"
            aria-label="Price"
            aria-describedby="price-label"
            name="campground[price]"
            min="0.00"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>
      <div class="mt-3">
        <label for="location" class="form-label">Location:</label>
        <input
          class="form-control"
          id="location"
          type="text"
          placeholder="Sedona, Arizona"
          name="campground[location]"
          value=""
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mt-3">
        <label for="description" class="form-label">Description:</label>
        <input
          class="form-control"
          id="description"
          type="text"
          placeholder="The amazing rocks had me mesmerized..."
          name="campground[description]"
          value=""
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <button class="btn btn-success mt-3">Add Campground</button>
    </form>
  </div>
  <a href="/campgrounds">All campgrounds</a>
</div>
